
<html>

    {% block content%}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body><br>
    <div id="login-container">
    <h2>Login</h2>
    {% if messages %}
    {% for message in messages %}
    {% if message.tag == "success" %}
    <span id="msg-success" >{{message}}</span>
    {% else %}  
    <span id="msg-error" >{{message}}</span>
    {% endif %}
    {% endfor %}
    {% endif %}
    {{error}}
    <form method="POST">
        {% csrf_token %}
        <div id="login-form">
            {{ form.errors.username }}
            <div id="div-user">
                <label for="username" id="label-user">Username:</label>
                <input type="text" name="username" maxlength="25" minlength="4" required id="id_username">
            </div>
            {{ form.errors.password}}
            <div id="div-pass">
                <label for="password" id="label-pass">Password:</label>
                <input type="password" name="password" required id="id_password">
            </div>
            <div id="submit-div">
                <button type="submit" id="id_submit">Login</button>
            </div>
        </div>    
    </form>
    <p id="signup-text"> Don't have an account, sign up <a href="{% url 'register' %}">here</a></p>
    </div>
    {% endblock %}
    </body>
    </html>